<a href="https://colab.research.google.com/github/SergeyB81/Portfolio-DS/blob/main/Car%20price/classification_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Загрузка данных**

In [1]:
! gdown --id 1Ym8EaWePP17RvrweKhWzCJmITXLgqvCZ

/usr/local/lib/python3.11/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=1Ym8EaWePP17RvrweKhWzCJmITXLgqvCZ
To: /content/churn-modeling.zip
100% 268k/268k [00:00<00:00, 38.8MB/s]

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('/content/churn-modeling.zip')

# **Обучающая, тестовая и валидационные выборка**

In [4]:
from sklearn.model_selection import train_test_split

In [6]:
train, test = train_test_split(df,train_size=0.6,random_state=42,stratify=df['Exited'])

In [8]:
val, test = train_test_split(test,train_size=0.5,random_state=42,stratify=test['Exited'])

# **Человеческое обучение**

In [11]:
train['age_group'] = pd.cut(train['Age'],[0,31,35,40,46,float('inf')])

In [14]:
model = train.groupby(['NumOfProducts','age_group'])['Exited'].mean().reset_index()

<ipython-input-14-36b672851a22>:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  model = train.groupby(['NumOfProducts','age_group'])['Exited'].mean().reset_index()

In [15]:
model

    NumOfProducts     age_group    Exited
0               1   (0.0, 31.0]  0.110764
1               1  (31.0, 35.0]  0.140449
2               1  (35.0, 40.0]  0.209337
3               1  (40.0, 46.0]  0.370441
4               1   (46.0, inf]  0.527607
5               2   (0.0, 31.0]  0.033289
6               2  (31.0, 35.0]  0.028037
7               2  (35.0, 40.0]  0.061069
8               2  (40.0, 46.0]  0.108647
9               2   (46.0, inf]  0.236364
10              3   (0.0, 31.0]  0.592593
11              3  (31.0, 35.0]  0.571429
12              3  (35.0, 40.0]  0.750000
13              3  (40.0, 46.0]  0.895833
14              3   (46.0, inf]  0.963636
15              4   (0.0, 31.0]  1.000000
16              4  (31.0, 35.0]  1.000000
17              4  (35.0, 40.0]  1.000000
18              4  (40.0, 46.0]  1.000000
19              4   (46.0, inf]  1.000000

In [17]:
model = model.rename({'Exited':'score_prod_age'},axis=1)

In [18]:
train = train.merge(model,how='left',on=['NumOfProducts','age_group'])

In [19]:
test['age_group'] = pd.cut(test['Age'],[0,31,35,40,46,float('inf')])

In [20]:
test = test.merge(model,how='left',on=['NumOfProducts','age_group'])

In [21]:
! pip install catboost

Collecting catboost
  Downloading catboost-1.2.8-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: graphviz in /usr/local/lib/python3.11/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: numpy<3.0,>=1.16.0 in /usr/local/lib/python3.11/dist-packages (from catboost) (2.0.2)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.11/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from catboost) (1.15.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (4.57.0)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly->catboost) (9.1.2)
Downloading catboost-1.2.8-cp311-cp311-manylinux2014_x86_64.whl (99.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.2/99.2 MB 6.6 MB/s eta 0:00:00
Installing collected packages: catboost
Successfully installed catboost-1.2.8

In [22]:
from catboost import CatBoostClassifier

In [23]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [27]:
df.dtypes

RowNumber            int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                  int64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard            int64
IsActiveMember       int64
EstimatedSalary    float64
Exited               int64
dtype: object

In [24]:
X = (['CustomerId', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary'])

cat_features = ['Geography','Gender']

y = ['Exited']

In [29]:
df.select_dtypes(include='object')

        Surname Geography  Gender
0      Hargrave    France  Female
1          Hill     Spain  Female
2          Onio    France  Female
3          Boni    France  Female
4      Mitchell     Spain  Female
...         ...       ...     ...
9995   Obijiaku    France    Male
9996  Johnstone    France    Male
9997        Liu    France  Female
9998  Sabbatini   Germany    Male
9999     Walker    France  Female

[10000 rows x 3 columns]