<a href="https://colab.research.google.com/github/SergeyB81/Portfolio-DS/blob/main/Car%20price/machine_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Загрузка данных**

https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes?select=bmw.csv

https://drive.google.com/file/d/10pq7rvk_FtY-ulQ8ldVM4QAtaR6LWt-j/view?usp=sharing

In [7]:
! gdown --id 10pq7rvk_FtY-ulQ8ldVM4QAtaR6LWt-j

/usr/local/lib/python3.11/dist-packages/gdown/__main__.py:140: FutureWarning: Option `--id` was deprecated in version 4.3.1 and will be removed in 5.0. You don't need to pass it anymore to use a file ID.
  warnings.warn(
Downloading...
From: https://drive.google.com/uc?id=10pq7rvk_FtY-ulQ8ldVM4QAtaR6LWt-j
To: /content/uk-used-cars.zip
100% 1.15M/1.15M [00:00<00:00, 10.5MB/s]

In [6]:
! unzip /content/uk-used-cars.zip -d /content/uk-used-cars

Archive:  /content/uk-used-cars.zip
replace /content/uk-used-cars/audi.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/audi.csv
replace /content/uk-used-cars/bmw.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/bmw.csv
replace /content/uk-used-cars/cclass.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/cclass.csv
replace /content/uk-used-cars/focus.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: r
new name: y
  inflating: /content/uk-used-cars/y
replace /content/uk-used-cars/ford.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/ford.csv
replace /content/uk-used-cars/hyundi.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/hyundi.csv
replace /content/uk-used-cars/merc.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/merc.csv
replace /content/uk-used-cars/skoda.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /content/uk-used-cars/skoda.csv
replace /content/uk-used-cars/toyota.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: a
error:  invalid response [a]
replace /content/uk-used-cars/toyota.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename: A
  inflating: /content/uk-used-cars/toyota.csv
  inflating: /content/uk-used-cars/unclean cclass.csv
  inflating: /content/uk-used-cars/unclean focus.csv
  inflating: /content/uk-used-cars/vauxhall.csv
  inflating: /content/uk-used-cars/vw.csv

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv('/content/uk-used-cars/bmw.csv')

In [10]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0

# **Обучающая и тестовая выборка**

In [11]:
from sklearn.model_selection import train_test_split

In [12]:
train, test = train_test_split(df, train_size=0.6, random_state=42)

# **Валидационныя выборка**