<a href="https://colab.research.google.com/github/SergeyB81/Portfolio-DS/blob/main/%D0%A2%D0%B5%D1%81%D1%82%D0%BE%D0%B2%D0%BE%D0%B5%20CG/Bank-62-68/bank_ds_trainee_test_case.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Задание №1**.
Предположим, что у вас в базе есть табличка с балансом по всем счетам клиента на конец дня. Из-за особенностей построения таблицы, часть значений незаполнена и физически это означает отсутствие информации об изменении баланса. Для простоты будем считать, пропущенные значения для одного пользователя не могут встретиться между двумя заполненными. Напишите SQL запрос для заполнения неизвестных значений по каждому клиенту последним известным.

client_id |date | value
--- | --- | ---
1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | NaN
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | NaN
3 | 18.04.2020 | NaN

In [5]:
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start

# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"

W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 13.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package logrotate.
(Reading database ... 126111 files and directories currently installed.)
Preparing to unpack .../00-logrotate_3.19.0-1ubuntu1.1_amd64.deb ...
Unpacking logrotate (3.19.0-1ubuntu1.1) ...
Selecting previously unselected package netbase.
Preparing to unpack .../01-netbase_6.3_all.deb ...
Unpacking netbase (6.3) ...
Selecting previously unselected package libcommon-sense-perl:amd64.
Preparing to unpack .../02-libcommon-sense-perl_3.75-2build1_amd64.deb ...
Unpacking libcommon-sense-perl:amd64 (3.75-2build1) ...
Selecting previously unselected package libjson-perl.
Preparing to unpack .../03-libjson-perl_4.04000-1_all.deb ...
Unpacking libjson-perl (4.04000-1) ...
Selecting previously unselected package libtypes-serialiser-perl.
Preparing to unpack .../04-libtypes-serialiser-perl_1.01-1_all.deb ...
Unpacking libtypes-serialiser-perl (1.01-1) ...
Selecting previously unselected package libjson-xs-perl.
Preparing to unpack .../05-libjson-xs-perl_4.030-1build3_amd64.deb ...
Unpacking libjson-xs-perl (4.030-1build3) ...
Selecting previously unselected package postgresql-client-common.
Preparing to unpack .../06-postgresql-client-common_238_all.deb ...
Unpacking postgresql-client-common (238) ...
Selecting previously unselected package postgresql-client-14.
Preparing to unpack .../07-postgresql-client-14_14.18-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-client-14 (14.18-0ubuntu0.22.04.1) ...
Selecting previously unselected package ssl-cert.
Preparing to unpack .../08-ssl-cert_1.1.2_all.deb ...
Unpacking ssl-cert (1.1.2) ...
Selecting previously unselected package postgresql-common.
Preparing to unpack .../09-postgresql-common_238_all.deb ...
Adding 'diversion of /usr/bin/pg_config to /usr/bin/pg_config.libpq-dev by postgresql-common'
Unpacking postgresql-common (238) ...
Selecting previously unselected package postgresql-14.
Preparing to unpack .../10-postgresql-14_14.18-0ubuntu0.22.04.1_amd64.deb ...
Unpacking postgresql-14 (14.18-0ubuntu0.22.04.1) ...
Selecting previously unselected package postgresql.
Preparing to unpack .../11-postgresql_14+238_all.deb ...
Unpacking postgresql (14+238) ...
Selecting previously unselected package sysstat.
Preparing to unpack .../12-sysstat_12.5.2-2ubuntu0.2_amd64.deb ...
Unpacking sysstat (12.5.2-2ubuntu0.2) ...
Setting up logrotate (3.19.0-1ubuntu1.1) ...
Created symlink /etc/systemd/system/timers.target.wants/logrotate.timer → /lib/systemd/system/logrotate.timer.
Setting up libcommon-sense-perl:amd64 (3.75-2build1) ...
Setting up ssl-cert (1.1.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Setting up libtypes-serialiser-perl (1.01-1) ...
Setting up libjson-perl (4.04000-1) ...
Setting up netbase (6.3) ...
Setting up sysstat (12.5.2-2ubuntu0.2) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline

Creating config file /etc/default/sysstat with new version
update-alternatives: using /usr/bin/sar.sysstat to provide /usr/bin/sar (sar) in auto mode
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-collect.timer → /lib/systemd/system/sysstat-collect.timer.
Created symlink /etc/systemd/system/sysstat.service.wants/sysstat-summary.timer → /lib/systemd/system/sysstat-summary.timer.
Created symlink /etc/systemd/system/multi-user.target.wants/sysstat.service → /lib/systemd/system/sysstat.service.
Setting up postgresql-client-common (238) ...
Setting up libjson-xs-perl (4.030-1build3) ...
Setting up postgresql-client-14 (14.18-0ubuntu0.22.04.1) ...
update-alternatives: using /usr/share/postgresql/14/man/man1/psql.1.gz to provide /usr/share/man/man1/psql.1.gz (psql.1.gz) in auto mode
Setting up postgresql-common (238) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Adding user postgres to group ssl-cert

Creating config file /etc/postgresql-common/createcluster.conf with new version
Building PostgreSQL dictionaries from installed myspell/hunspell packages...
Removing obsolete dictionary files:
Created symlink /etc/systemd/system/multi-user.target.wants/postgresql.service → /lib/systemd/system/postgresql.service.
Setting up postgresql-14 (14.18-0ubuntu0.22.04.1) ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Creating new PostgreSQL cluster 14/main ...
/usr/lib/postgresql/14/bin/initdb -D /var/lib/postgresql/14/main --auth-local peer --auth-host scram-sha-256 --no-instructions
The files belonging to this database system will be owned by user "postgres".
This user must also own the server process.

The database cluster will be initialized with locale "en_US.UTF-8".
The default database encoding has accordingly been set to "UTF8".
The default text search configuration will be set to "english".

Data page checksums are disabled.

fixing permissions on existing directory /var/lib/postgresql/14/main ... ok
creating subdirectories ... ok
selecting dynamic shared memory implementation ... posix
selecting default max_connections ... 100
selecting default shared_buffers ... 128MB
selecting default time zone ... Etc/UTC
creating configuration files ... ok
running bootstrap script ... ok
performing post-bootstrap initialization ... ok
syncing data to disk ... ok
update-alternatives: using /usr/share/postgresql/14/man/man1/postmaster.1.gz to provide /usr/share/man/man1/postmaster.1.gz (postmaster.1.gz) in auto mode
invoke-rc.d: could not determine current runlevel
invoke-rc.d: policy-rc.d denied execution of start.
Setting up postgresql (14+238) ...
Processing triggers for man-db (2.10.2-1) ...
 * Starting PostgreSQL 14 database server
   ...done.
ALTER ROLE

In [6]:
from sqlalchemy import create_engine
con = create_engine('postgresql+psycopg2://postgres:postgres@localhost:5432/postgres')

In [7]:
import pandas as pd
import numpy as np

In [8]:
def select(sql):
  return pd.read_sql(sql,con)

In [9]:
table = '''1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | NaN
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | NaN
3 | 18.04.2020 | NaN'''

In [10]:
df = pd.DataFrame([row.replace(' ','').split('|') for row in table.split('\n')])

In [11]:
df

    0           1       2
0   1  14.04.2020   10000
1   1  15.04.2020    5000
2   1  16.04.2020     NaN
3   1  17.04.2020     NaN
4   1  18.04.2020     NaN
5   2  14.04.2020  250000
6   2  15.04.2020  250000
7   2  16.04.2020  230000
8   2  17.04.2020  230000
9   2  18.04.2020  225000
10  3  14.04.2020   50000
11  3  15.04.2020     NaN
12  3  16.04.2020     NaN
13  3  17.04.2020     NaN
14  3  18.04.2020     NaN

In [12]:
'client_id | date | value'.split(' | ')

['client_id', 'date', 'value']

In [13]:
df.columns = ['client_id', 'dt', 'val']

In [14]:
df

   client_id          dt     val
0          1  14.04.2020   10000
1          1  15.04.2020    5000
2          1  16.04.2020     NaN
3          1  17.04.2020     NaN
4          1  18.04.2020     NaN
5          2  14.04.2020  250000
6          2  15.04.2020  250000
7          2  16.04.2020  230000
8          2  17.04.2020  230000
9          2  18.04.2020  225000
10         3  14.04.2020   50000
11         3  15.04.2020     NaN
12         3  16.04.2020     NaN
13         3  17.04.2020     NaN
14         3  18.04.2020     NaN

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   client_id  15 non-null     object
 1   dt         15 non-null     object
 2   val        15 non-null     object
dtypes: object(3)
memory usage: 492.0+ bytes

In [16]:
df['dt'] = pd.to_datetime(df['dt'],format='%d.%m.%Y')
df['client_id'] = df['client_id'].astype(int)
df['val'] = df['val'].astype(float)

In [17]:
df.dtypes

client_id             int64
dt           datetime64[ns]
val                 float64
dtype: object

In [18]:
df.to_sql('task1',con,index=False,if_exists='replace',method='multi')

15

In [19]:
sql = '''select * from task1 t'''

In [20]:
select(sql)

    client_id         dt       val
0           1 2020-04-14   10000.0
1           1 2020-04-15    5000.0
2           1 2020-04-16       NaN
3           1 2020-04-17       NaN
4           1 2020-04-18       NaN
5           2 2020-04-14  250000.0
6           2 2020-04-15  250000.0
7           2 2020-04-16  230000.0
8           2 2020-04-17  230000.0
9           2 2020-04-18  225000.0
10          3 2020-04-14   50000.0
11          3 2020-04-15       NaN
12          3 2020-04-16       NaN
13          3 2020-04-17       NaN
14          3 2020-04-18       NaN

 ## **Решение ))**

In [21]:
df['val'].ffill()

0      10000.0
1       5000.0
2       5000.0
3       5000.0
4       5000.0
5     250000.0
6     250000.0
7     230000.0
8     230000.0
9     225000.0
10     50000.0
11     50000.0
12     50000.0
13     50000.0
14     50000.0
Name: val, dtype: float64

In [22]:
df

    client_id         dt       val
0           1 2020-04-14   10000.0
1           1 2020-04-15    5000.0
2           1 2020-04-16       NaN
3           1 2020-04-17       NaN
4           1 2020-04-18       NaN
5           2 2020-04-14  250000.0
6           2 2020-04-15  250000.0
7           2 2020-04-16  230000.0
8           2 2020-04-17  230000.0
9           2 2020-04-18  225000.0
10          3 2020-04-14   50000.0
11          3 2020-04-15       NaN
12          3 2020-04-16       NaN
13          3 2020-04-17       NaN
14          3 2020-04-18       NaN

## **Решение 1**

In [23]:
df

    client_id         dt       val
0           1 2020-04-14   10000.0
1           1 2020-04-15    5000.0
2           1 2020-04-16       NaN
3           1 2020-04-17       NaN
4           1 2020-04-18       NaN
5           2 2020-04-14  250000.0
6           2 2020-04-15  250000.0
7           2 2020-04-16  230000.0
8           2 2020-04-17  230000.0
9           2 2020-04-18  225000.0
10          3 2020-04-14   50000.0
11          3 2020-04-15       NaN
12          3 2020-04-16       NaN
13          3 2020-04-17       NaN
14          3 2020-04-18       NaN

In [24]:
sql = '''
select t.client_id, max(t.dt)
from task1 t
where t.val is not null
group by t.client_id
'''

In [25]:
select(sql)

   client_id        max
0          3 2020-04-14
1          2 2020-04-18
2          1 2020-04-15

In [26]:
sql = '''
with last_non_null as (
select t.client_id, max(t.dt) as dt
from task1 t
where t.val is not null
group by t.client_id
)


select * from task1 t
join last_non_null l on t.client_id = l.client_id and t.dt = l.dt
'''

In [27]:
select(sql)

   client_id         dt       val  client_id         dt
0          1 2020-04-15    5000.0          1 2020-04-15
1          2 2020-04-18  225000.0          2 2020-04-18
2          3 2020-04-14   50000.0          3 2020-04-14

In [28]:
sql = '''
with last_non_null as (
select t.client_id, max(t.dt) as dt
from task1 t
where t.val is not null
group by t.client_id
),

last_non_null_val as (
select t.* from task1 t
join last_non_null l on t.client_id = l.client_id and t.dt = l.dt
)

select t.*, l.val
from task1 t
left join last_non_null_val l on t.client_id = l.client_id
'''

In [29]:
select(sql)

    client_id         dt       val       val
0           1 2020-04-14   10000.0    5000.0
1           1 2020-04-15    5000.0    5000.0
2           1 2020-04-16       NaN    5000.0
3           1 2020-04-17       NaN    5000.0
4           1 2020-04-18       NaN    5000.0
5           2 2020-04-14  250000.0  225000.0
6           2 2020-04-15  250000.0  225000.0
7           2 2020-04-16  230000.0  225000.0
8           2 2020-04-17  230000.0  225000.0
9           2 2020-04-18  225000.0  225000.0
10          3 2020-04-14   50000.0   50000.0
11          3 2020-04-15       NaN   50000.0
12          3 2020-04-16       NaN   50000.0
13          3 2020-04-17       NaN   50000.0
14          3 2020-04-18       NaN   50000.0

In [30]:
sql = '''
with last_non_null as (
select t.client_id, max(t.dt) as dt
from task1 t
where t.val is not null
group by t.client_id
),

last_non_null_val as (
select t.* from task1 t
join last_non_null l on t.client_id = l.client_id and t.dt = l.dt
)

select t.*,
       l.val,
       coalesce(t.val,l.val) as ffil_val
from task1 t
left join last_non_null_val l on t.client_id = l.client_id
'''

In [31]:
select(sql)

    client_id         dt       val       val  ffil_val
0           1 2020-04-14   10000.0    5000.0   10000.0
1           1 2020-04-15    5000.0    5000.0    5000.0
2           1 2020-04-16       NaN    5000.0    5000.0
3           1 2020-04-17       NaN    5000.0    5000.0
4           1 2020-04-18       NaN    5000.0    5000.0
5           2 2020-04-14  250000.0  225000.0  250000.0
6           2 2020-04-15  250000.0  225000.0  250000.0
7           2 2020-04-16  230000.0  225000.0  230000.0
8           2 2020-04-17  230000.0  225000.0  230000.0
9           2 2020-04-18  225000.0  225000.0  225000.0
10          3 2020-04-14   50000.0   50000.0   50000.0
11          3 2020-04-15       NaN   50000.0   50000.0
12          3 2020-04-16       NaN   50000.0   50000.0
13          3 2020-04-17       NaN   50000.0   50000.0
14          3 2020-04-18       NaN   50000.0   50000.0

In [32]:
sql = '''
with last_non_null as (
select t.client_id, max(t.dt) as dt
from task1 t
where t.val is not null
group by t.client_id
),

last_non_null_val as (
select t.* from task1 t
join last_non_null l on t.client_id = l.client_id and t.dt = l.dt
)

select t.client_id,
       t.dt,
       coalesce(t.val,l.val) as ffil_val
from task1 t
left join last_non_null_val l on t.client_id = l.client_id
'''

In [33]:
select(sql)

    client_id         dt  ffil_val
0           1 2020-04-14   10000.0
1           1 2020-04-15    5000.0
2           1 2020-04-16    5000.0
3           1 2020-04-17    5000.0
4           1 2020-04-18    5000.0
5           2 2020-04-14  250000.0
6           2 2020-04-15  250000.0
7           2 2020-04-16  230000.0
8           2 2020-04-17  230000.0
9           2 2020-04-18  225000.0
10          3 2020-04-14   50000.0
11          3 2020-04-15   50000.0
12          3 2020-04-16   50000.0
13          3 2020-04-17   50000.0
14          3 2020-04-18   50000.0

### **Задание №1.1 (*)**. В прошлом задании мы считали, что пропущенные значения не могут находиться между двумя заполненными в рамках одного пользователя, что не всегда правда в реальных задачах. Напишите теперь SQL запрос без указанного допущения.


client_id |date | value
--- | --- | ---
1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | 7000
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | 49000
3 | 18.04.2020 | NaN

In [34]:
table = '''1 | 14.04.2020 | 10000
1 | 15.04.2020 | 5000
1 | 16.04.2020 | NaN
1 | 17.04.2020 | 7000
1 | 18.04.2020 | NaN
2 | 14.04.2020 | 250000
2 | 15.04.2020 | 250000
2 | 16.04.2020 | 230000
2 | 17.04.2020 | 230000
2 | 18.04.2020 | 225000
3 | 14.04.2020 | 50000
3 | 15.04.2020 | NaN
3 | 16.04.2020 | NaN
3 | 17.04.2020 | 49000
3 | 18.04.2020 | NaN'''

In [35]:
table

'1 | 14.04.2020 | 10000\n1 | 15.04.2020 | 5000\n1 | 16.04.2020 | NaN\n1 | 17.04.2020 | 7000\n1 | 18.04.2020 | NaN\n2 | 14.04.2020 | 250000\n2 | 15.04.2020 | 250000\n2 | 16.04.2020 | 230000\n2 | 17.04.2020 | 230000\n2 | 18.04.2020 | 225000\n3 | 14.04.2020 | 50000\n3 | 15.04.2020 | NaN\n3 | 16.04.2020 | NaN\n3 | 17.04.2020 | 49000\n3 | 18.04.2020 | NaN'

In [36]:
[row.replace(' ','').split('|') for row in table.split('\n')]

[['1', '14.04.2020', '10000'],
 ['1', '15.04.2020', '5000'],
 ['1', '16.04.2020', 'NaN'],
 ['1', '17.04.2020', '7000'],
 ['1', '18.04.2020', 'NaN'],
 ['2', '14.04.2020', '250000'],
 ['2', '15.04.2020', '250000'],
 ['2', '16.04.2020', '230000'],
 ['2', '17.04.2020', '230000'],
 ['2', '18.04.2020', '225000'],
 ['3', '14.04.2020', '50000'],
 ['3', '15.04.2020', 'NaN'],
 ['3', '16.04.2020', 'NaN'],
 ['3', '17.04.2020', '49000'],
 ['3', '18.04.2020', 'NaN']]

In [37]:
df = pd.DataFrame([row.replace(' ','').split('|') for row in table.split('\n')])

In [38]:
df

    0           1       2
0   1  14.04.2020   10000
1   1  15.04.2020    5000
2   1  16.04.2020     NaN
3   1  17.04.2020    7000
4   1  18.04.2020     NaN
5   2  14.04.2020  250000
6   2  15.04.2020  250000
7   2  16.04.2020  230000
8   2  17.04.2020  230000
9   2  18.04.2020  225000
10  3  14.04.2020   50000
11  3  15.04.2020     NaN
12  3  16.04.2020     NaN
13  3  17.04.2020   49000
14  3  18.04.2020     NaN

In [39]:
'client_id | date | value'.split(' | ')

['client_id', 'date', 'value']

In [40]:
df.columns = ['client_id', 'dt', 'val']

In [41]:
df

   client_id          dt     val
0          1  14.04.2020   10000
1          1  15.04.2020    5000
2          1  16.04.2020     NaN
3          1  17.04.2020    7000
4          1  18.04.2020     NaN
5          2  14.04.2020  250000
6          2  15.04.2020  250000
7          2  16.04.2020  230000
8          2  17.04.2020  230000
9          2  18.04.2020  225000
10         3  14.04.2020   50000
11         3  15.04.2020     NaN
12         3  16.04.2020     NaN
13         3  17.04.2020   49000
14         3  18.04.2020     NaN

In [42]:
df.dtypes

client_id    object
dt           object
val          object
dtype: object

In [43]:
df['dt'] = pd.to_datetime(df['dt'],format='%d.%m.%Y')

In [44]:
df['client_id'] = df['client_id'].astype(int)

In [45]:
df['val'] = df['val'].astype(float)

In [46]:
df.dtypes

client_id             int64
dt           datetime64[ns]
val                 float64
dtype: object

In [47]:
df.to_sql('task11',con,index=False,if_exists='replace',method='multi')

15

In [48]:
sql = '''select * from task11'''

In [49]:
select(sql)

    client_id         dt       val
0           1 2020-04-14   10000.0
1           1 2020-04-15    5000.0
2           1 2020-04-16       NaN
3           1 2020-04-17    7000.0
4           1 2020-04-18       NaN
5           2 2020-04-14  250000.0
6           2 2020-04-15  250000.0
7           2 2020-04-16  230000.0
8           2 2020-04-17  230000.0
9           2 2020-04-18  225000.0
10          3 2020-04-14   50000.0
11          3 2020-04-15       NaN
12          3 2020-04-16       NaN
13          3 2020-04-17   49000.0
14          3 2020-04-18       NaN

In [50]:
sql = '''select t.*,
lag(t.val) over (partition by t.client_id order by t.dt) as prev_val
from task11 t'''

In [51]:
select(sql)

    client_id         dt       val  prev_val
0           1 2020-04-14   10000.0       NaN
1           1 2020-04-15    5000.0   10000.0
2           1 2020-04-16       NaN    5000.0
3           1 2020-04-17    7000.0       NaN
4           1 2020-04-18       NaN    7000.0
5           2 2020-04-14  250000.0       NaN
6           2 2020-04-15  250000.0  250000.0
7           2 2020-04-16  230000.0  250000.0
8           2 2020-04-17  230000.0  230000.0
9           2 2020-04-18  225000.0  230000.0
10          3 2020-04-14   50000.0       NaN
11          3 2020-04-15       NaN   50000.0
12          3 2020-04-16       NaN       NaN
13          3 2020-04-17   49000.0       NaN
14          3 2020-04-18       NaN   49000.0

In [52]:
sql = '''select t.*,
lag(t.val) over (partition by t.client_id order by t.dt) as prev_val,

case when (t.val is null and
lag(t.val) over (partition by t.client_id order by t.dt) is null)
or
(t.val is not null and
lag(t.val) over (partition by t.client_id order by t.dt) is not null)
then 0 else 1 end as change

from task11 t'''

In [53]:
select(sql)

    client_id         dt       val  prev_val  change
0           1 2020-04-14   10000.0       NaN       1
1           1 2020-04-15    5000.0   10000.0       0
2           1 2020-04-16       NaN    5000.0       1
3           1 2020-04-17    7000.0       NaN       1
4           1 2020-04-18       NaN    7000.0       1
5           2 2020-04-14  250000.0       NaN       1
6           2 2020-04-15  250000.0  250000.0       0
7           2 2020-04-16  230000.0  250000.0       0
8           2 2020-04-17  230000.0  230000.0       0
9           2 2020-04-18  225000.0  230000.0       0
10          3 2020-04-14   50000.0       NaN       1
11          3 2020-04-15       NaN   50000.0       1
12          3 2020-04-16       NaN       NaN       0
13          3 2020-04-17   49000.0       NaN       1
14          3 2020-04-18       NaN   49000.0       1

In [54]:
sql = ''' with lags as (select t.*,
lag(t.val) over (partition by t.client_id order by t.dt) as prev_val,

case when (t.val is null and
lag(t.val) over (partition by t.client_id order by t.dt) is null)
or
(t.val is not null and
lag(t.val) over (partition by t.client_id order by t.dt) is not null)
then 0 else 1 end as change

from task11 t),


interv as (select t.*,
sum(t.change) over (partition by t.client_id order by t.dt) as interval_id
from lags t)

select * from interv

'''

In [55]:
select(sql)

    client_id         dt       val  prev_val  change  interval_id
0           1 2020-04-14   10000.0       NaN       1            1
1           1 2020-04-15    5000.0   10000.0       0            1
2           1 2020-04-16       NaN    5000.0       1            2
3           1 2020-04-17    7000.0       NaN       1            3
4           1 2020-04-18       NaN    7000.0       1            4
5           2 2020-04-14  250000.0       NaN       1            1
6           2 2020-04-15  250000.0  250000.0       0            1
7           2 2020-04-16  230000.0  250000.0       0            1
8           2 2020-04-17  230000.0  230000.0       0            1
9           2 2020-04-18  225000.0  230000.0       0            1
10          3 2020-04-14   50000.0       NaN       1            1
11          3 2020-04-15       NaN   50000.0       1            2
12          3 2020-04-16       NaN       NaN       0            2
13          3 2020-04-17   49000.0       NaN       1            3
14          3 2020-04-18       NaN   49000.0       1            4

In [56]:
sql = ''' with lags as (select t.*,
lag(t.val) over (partition by t.client_id order by t.dt) as prev_val,

case when (t.val is null and
lag(t.val) over (partition by t.client_id order by t.dt) is null)
or
(t.val is not null and
lag(t.val) over (partition by t.client_id order by t.dt) is not null)
then 0 else 1 end as change

from task11 t),


interv as (select t.*,
sum(t.change) over (partition by t.client_id order by t.dt) as interval_id
from lags t),

last_in_interv as (
select t.*,
row_number() over (partition by t.client_id, t.interval_id order by t.dt desc) as rnk
from interv t
order by t.client_id, t.dt)

select * from last_in_interv

'''

In [57]:
select(sql)

    client_id         dt       val  prev_val  change  interval_id  rnk
0           1 2020-04-14   10000.0       NaN       1            1    2
1           1 2020-04-15    5000.0   10000.0       0            1    1
2           1 2020-04-16       NaN    5000.0       1            2    1
3           1 2020-04-17    7000.0       NaN       1            3    1
4           1 2020-04-18       NaN    7000.0       1            4    1
5           2 2020-04-14  250000.0       NaN       1            1    5
6           2 2020-04-15  250000.0  250000.0       0            1    4
7           2 2020-04-16  230000.0  250000.0       0            1    3
8           2 2020-04-17  230000.0  230000.0       0            1    2
9           2 2020-04-18  225000.0  230000.0       0            1    1
10          3 2020-04-14   50000.0       NaN       1            1    1
11          3 2020-04-15       NaN   50000.0       1            2    2
12          3 2020-04-16       NaN       NaN       0            2    1
13          3 2020-04-17   49000.0       NaN       1            3    1
14          3 2020-04-18       NaN   49000.0       1            4    1

In [58]:
sql = ''' with lags as (select t.*,
lag(t.val) over (partition by t.client_id order by t.dt) as prev_val,

case when (t.val is null and
lag(t.val) over (partition by t.client_id order by t.dt) is null)
or
(t.val is not null and
lag(t.val) over (partition by t.client_id order by t.dt) is not null)
then 0 else 1 end as change

from task11 t),


interv as (select t.*,
sum(t.change) over (partition by t.client_id order by t.dt) as interval_id
from lags t),


last_in_interv as (
select t.*,
row_number() over (partition by t.client_id, t.interval_id order by t.dt desc) as rnk
from interv t
order by t.client_id, t.dt),

last_val as (
select * from last_in_interv t
where t.rnk = 1)

select * from last_val
'''

In [59]:
select(sql)

   client_id         dt       val  prev_val  change  interval_id  rnk
0          1 2020-04-15    5000.0   10000.0       0            1    1
1          1 2020-04-16       NaN    5000.0       1            2    1
2          1 2020-04-17    7000.0       NaN       1            3    1
3          1 2020-04-18       NaN    7000.0       1            4    1
4          2 2020-04-18  225000.0  230000.0       0            1    1
5          3 2020-04-14   50000.0       NaN       1            1    1
6          3 2020-04-16       NaN       NaN       0            2    1
7          3 2020-04-17   49000.0       NaN       1            3    1
8          3 2020-04-18       NaN   49000.0       1            4    1

In [60]:
sql = ''' with lags as (select t.*,
lag(t.val) over (partition by t.client_id order by t.dt) as prev_val,

case when (t.val is null and
lag(t.val) over (partition by t.client_id order by t.dt) is null)
or
(t.val is not null and
lag(t.val) over (partition by t.client_id order by t.dt) is not null)
then 0 else 1 end as change

from task11 t),


interv as (select t.*,
sum(t.change) over (partition by t.client_id order by t.dt) as interval_id
from lags t),


last_in_interv as (
select t.*,
row_number() over (partition by t.client_id, t.interval_id order by t.dt desc) as rnk
from interv t
order by t.client_id, t.dt),

last_val as (
select * from last_in_interv t
where t.rnk = 1)


select t.*,
coalesce(t.val,l.val) as ffil_val,
l.*
from interv t
left join last_val l on t.client_id = l.client_id and
t.interval_id = l.interval_id + 1

'''

In [61]:
select(sql)

,client_id,dt,val,prev_val,change,interval_id,ffil_val,client_id,dt,val,prev_val,change,interval_id,rnk
0,1,2020-04-14,10000.0,NaN,1,1,10000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
1,1,2020-04-15,5000.0,10000.0,0,1,5000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
2,1,2020-04-16,NaN,5000.0,1,2,5000.0,1.0,2020-04-15,5000.0,10000.0,0.0,1.0,1.0
3,1,2020-04-17,7000.0,NaN,1,3,7000.0,1.0,2020-04-16,NaN,5000.0,1.0,2.0,1.0
4,1,2020-04-18,NaN,7000.0,1,4,7000.0,1.0,2020-04-17,7000.0,NaN,1.0,3.0,1.0
5,2,2020-04-14,250000.0,NaN,1,1,250000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
6,2,2020-04-15,250000.0,250000.0,0,1,250000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
7,2,2020-04-16,230000.0,250000.0,0,1,230000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
8,2,2020-04-17,230000.0,230000.0,0,1,230000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
9,2,2020-04-18,225000.0,230000.0,0,1,225000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
10,3,2020-04-14,50000.0,NaN,1,1,50000.0,NaN,NaT,NaN,NaN,NaN,NaN,NaN
11,3,2020-04-15,NaN,50000.0,1,2,50000.0,3.0,2020-04-14,50000.0,NaN,1.0,1.0,1.0
12,3,2020-04-16,NaN,NaN,0,2,50000.0,3.0,2020-04-14,50000.0,NaN,1.0,1.0,1.0
13,3,2020-04-17,49000.0,NaN,1,3,49000.0,3.0,2020-04-16,NaN,NaN,0.0,2.0,1.0
14,3,2020-04-18,NaN,49000.0,1,4,49000.0,3.0,2020-04-17,49000.0,NaN,1.0,3.0,1.0

In [75]:
sql = '''SELECT
  t.dt,
  t.val,
  t.client_id,
  first_value(t.val) over (partition by t.client_id, t.value_partition order by t.dt)
FROM (
  SELECT
    t.dt,
    t.val,
    t.client_id,
    sum(case when t.val is null then 0 else 1 end)
    over (partition by t.client_id order by t.dt) as value_partition

  FROM task11 t
  ORDER BY t.dt ASC
) as t'''

In [76]:
select(sql)

           dt       val  client_id  first_value
0  2020-04-14   10000.0          1      10000.0
1  2020-04-15    5000.0          1       5000.0
2  2020-04-16       NaN          1       5000.0
3  2020-04-17    7000.0          1       7000.0
4  2020-04-18       NaN          1       7000.0
5  2020-04-14  250000.0          2     250000.0
6  2020-04-15  250000.0          2     250000.0
7  2020-04-16  230000.0          2     230000.0
8  2020-04-17  230000.0          2     230000.0
9  2020-04-18  225000.0          2     225000.0
10 2020-04-14   50000.0          3      50000.0
11 2020-04-15       NaN          3      50000.0
12 2020-04-16       NaN          3      50000.0
13 2020-04-17   49000.0          3      49000.0
14 2020-04-18       NaN          3      49000.0

In [81]:
sql = '''SELECT
    t.dt,
    t.val,
    t.client_id,
    sum(case when t.val is null then 0 else 1 end)
    over (partition by t.client_id order by t.dt) as value_partition

  FROM task11 t
  ORDER BY t.client_id, t.dt ASC '''

In [82]:
select(sql)

           dt       val  client_id  value_partition
0  2020-04-14   10000.0          1                1
1  2020-04-15    5000.0          1                2
2  2020-04-16       NaN          1                2
3  2020-04-17    7000.0          1                3
4  2020-04-18       NaN          1                3
5  2020-04-14  250000.0          2                1
6  2020-04-15  250000.0          2                2
7  2020-04-16  230000.0          2                3
8  2020-04-17  230000.0          2                4
9  2020-04-18  225000.0          2                5
10 2020-04-14   50000.0          3                1
11 2020-04-15       NaN          3                1
12 2020-04-16       NaN          3                1
13 2020-04-17   49000.0          3                2
14 2020-04-18       NaN          3                2